<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding-top" offset="3" size="3">
        <ion-button id="askQesBtn" size="large" (click)="askQuestion()">
          <ion-icon name="search-circle-sharp"></ion-icon> QUESTION
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10">
        <ion-searchbar id="ion-search" placeholder="Search Question..." [animated]="true"
          (ionChange)="onSearchChange($event)">
        </ion-searchbar>
      </ion-col>
      <ion-col size="1" class="ion-padding-top">
        <ion-button fill="clear" (click)="popoverfilter($event)" class="ion-no-padding">
          <ion-icon name="filter"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="popOverValue">
      <ion-col size="12" class="ion-no-padding">
        <p style="text-align: center;">
          YOUR FILTER IS: {{popOverValue|uppercase}}
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="padding: 0px; padding-left: 5px;">
        <p style="padding-left:8px;padding-bottom:0px; margin-bottom: 8px;">Previous Question's</p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="this.speclFun.questions.length==0">
      <ion-col offset="2" size="8">
        <ion-button expand="block" fill="clear" (click)="pressRefresh()">
          <ion-label>Press New Post</ion-label>
          <ion-icon style="float: left;" name="refresh-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- skeleton text -->
    <app-question-skel-text *ngIf="this.speclFun.questions.length==0"></app-question-skel-text>

    <!-- data -->
    <ion-row>
      <ion-col>
        <ion-virtual-scroll [items]=" this.speclFun.questions" approxItemHeight="185px">
          <ion-card class="card" *virtualItem="let item;  let d=index"
            [routerLink]="['/','main','user','tabs','home',item.id]" routerDirection="forward">
            <ion-row>
              <ion-col size=" 12">
                <ion-card-header class="card-header">
                  <ion-icon color="primary" name="help-circle-outline" style="margin-right: 5px;"></ion-icon>
                  <ion-label>{{ item.title }}</ion-label>
                </ion-card-header>
              </ion-col>
            </ion-row>

            <ion-row>
              <!-- COL1  -->
              <ion-col size="12" class="ion-no-padding" id="postedOn">
                <div class="content">
                  <div class="content1">
                    <ion-icon color="primary" name="person"></ion-icon>
                    <ion-label>Asked By: {{ item.askedBy.name }}</ion-label>
                    <br>
                  </div>
                </div>
              </ion-col>
              <!-- COL2 -->
              <ion-col size="12" class="ion-no-padding">

                <ion-row>
                  <ion-col size="8" class="ion-no-padding" id="postedOn">
                    <div class="content">
                      <div class="content2">
                        <ion-icon name="calendar" color="primary"></ion-icon>
                        <ion-label>Posted On: {{ item.askedOn|date}}</ion-label>
                        <br>
                      </div>
                    </div>
                  </ion-col>

                  <ion-col size="4" class="ion-no-padding" *ngIf="item.totalAnswers!=null">
                    <ion-chip id="ansChip">
                      <ion-label>{{item.totalAnswers}} Answers</ion-label>
                    </ion-chip>
                  </ion-col>

                </ion-row>

              </ion-col>

            </ion-row>

            <ion-row *ngIf="item">
              <!-- col1 -->
              <ion-col size="8" class="ion-padding">
                <ion-row>

                  <ion-col size="auto" *ngFor="let ii of item['chipsData']| keyvalue" id="pillsCol">
                    <div id="pills">
                      <ion-chip *ngIf="ii.value!=undefined||null">
                        <ion-label>{{ii.value}}</ion-label>
                      </ion-chip>
                    </div>
                  </ion-col>
                  <ion-col size="auto" *ngFor="let cd of item['carData']| keyvalue" id="pillsCol">
                    <div id="pills">
                      <ion-chip>
                        <ion-label>{{cd.value}}</ion-label>
                      </ion-chip>
                    </div>
                  </ion-col>

                </ion-row>
              </ion-col>

              <!-- col2 -->
              <ion-col size="4" class="ion-text-center">
                <!-- this is for the rating -->
                <div class="ion-margin-top">
                  <ion-row>
                    <ion-col *ngFor="let rating of item['rating'] | keyvalue; let i=index">
                      <ion-icon name="star" [style.color]='colors[i]'></ion-icon>
                      <ion-col>
                        <ion-label>{{rating.value}}</ion-label>
                      </ion-col>
                    </ion-col>
                  </ion-row>

                </div>

              </ion-col>

            </ion-row>
          </ion-card>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>