<!-- <app-toolbar [headerTitle]="'notifications'|uppercase"></app-toolbar> -->

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col size="1">
        <ion-icon name="notifications-sharp"></ion-icon>
      </ion-col>
      <ion-col class="notifitext">
        <ion-card-subtitle>
          <ion-chip>
            <ion-label color="primary">New</ion-label>
          </ion-chip>
          You got a new answer for the question which you posted. Look and rate the answer
        </ion-card-subtitle>

        <br>
        <div>
          <ion-card-subtitle>
            <ion-icon name="calendar-sharp"></ion-icon>
            <ion-label>
              Posted On: 14-01-2021
            </ion-label>
          </ion-card-subtitle>
        </div>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>