// @media (min-height: 600px) and (min-width: 320px) {
@media only screen and (max-width: 600px) {
  .background-img img {
    height: 325px;
    width: max-content;
  }
  .login-info {
    height: max-content;
    margin-top: 5px;
  }
  ion-label {
    font-size: 19px;
  }
  .input-field ion-input {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
  }
  .help {
    font-size: small;
    margin-top: 7.5px;
    float: right;
    margin-bottom: 7.5px;
  }
  .error {
    font-size: 18px;
    text-align: center;
    color: black;
  }
  .passwordIcon {
    font-size: 1.75rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
  }
}
