<ion-row>
  <ion-col>
    <ion-card *ngFor="let i of [1,2]">
      <ion-row>
        <ion-col size=" 12">
          <ion-card-header class="card-header">
            <ion-icon name="help-circle-outline" style="margin-right: 5px;"></ion-icon>
            <ion-label>
              <ion-skeleton-text animated style="width:50%"></ion-skeleton-text>
            </ion-label>
          </ion-card-header>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="content">
            <div class="content1">
              <ion-icon name="person"></ion-icon>
              <ion-label>
                <ion-skeleton-text animated style="width:50%"></ion-skeleton-text>
              </ion-label>
              <br>
            </div>
            <div class="content2">
              <ion-icon name="calendar"></ion-icon>
              <ion-label>
                <ion-skeleton-text animated style="width:50%"></ion-skeleton-text>
              </ion-label>
              <br>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-col>
</ion-row>