<ion-header>
</ion-header>
<ion-content>
  <ion-grid>
    <form [formGroup]="passReset" (ngSubmit)="submitPswd()">
      <ion-row>
        <ion-col size=" 12">
          <div class="email">
            <ion-item>
              <ion-label position="floating">Enter Your New Password </ion-label>
              <ion-input autofocus="true" type="text" formControlName="password" required></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <!--  New Password ... -->
      <ion-row>
        <ion-col size=" 12">
          <div class="reset-btn">
            <ion-button type="submit" color="primary" expand="block" [disabled]="passReset.invalid">
              Reset Password
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>