// @media (min-height: 600px) and (min-width: 320px) {
@media only screen and (max-width: 600px) {
  .input-email {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .input-email ion-input {
    font-size: 25px;
  }
  .input-otp {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .help {
    float: right;
    font-size: smaller;
  }
  ion-label {
    color: black;
  }
  ion-input {
    font-size: 21px;
  }
  ion-label {
    font-size: 19px;
  }
  .otp-btn {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
